@keyframes logo_colors {
  0% {
    color: $mainColor;
  }

  25% {
    color: $highlightColor;
  }

  50% {
    color: $secondaryColor;
  }

  75% {
    color: $highlightColor;
  }

  100% {
    color: $mainColor;
  }
}

@keyframes slide-in {
  from {
    transform: translateX(-80%);
  }

  to {
    transform: translateX(-10%);
  }
}