$shadowColorGray: rgb(219 218 218);
$shadowColorHighlighGreen: rgb(49 156 72);
$mainBgColor: white;
$secondaryBgColor:rgb(244 244 244);
$mainColor:#1c1c1c;
$secondaryColor:rgb(177 227 150);
$highlightColor: rgb(49 156 72);