@charset "UTF-8";
@keyframes logo_colors {
  0% {
    color: #1c1c1c;
  }
  25% {
    color: rgb(49, 156, 72);
  }
  50% {
    color: rgb(177, 227, 150);
  }
  75% {
    color: rgb(49, 156, 72);
  }
  100% {
    color: #1c1c1c;
  }
}
@keyframes slide-in {
  from {
    transform: translateX(-80%);
  }
  to {
    transform: translateX(0%);
  }
}
.panel { /* Uso de mixin con variable para  el box shadow */
  border: 0.1px rgb(232, 232, 232) solid;
  box-sizing: border-box;
  border-radius: 20px;
  background-color: var(--main-bg-color);
  /*box-shadow: 1px 1px 5px var(--shadow-color); /* offset-x, offset-y, blur-radius, color */
  box-shadow: 1px 1px 5px rgb(219, 218, 218); /* offset-x, offset-y, blur-radius, color */
  justify-content: space-between;
}

aside ul { /* Uso de mixin con variable para  el box shadow + Nesting para los elementos dentro de Aside */
  list-style-type: none; /* quitamos los puntos de delante de la lista */
  height: 300px;
  display: grid;
  grid-template-columns: repeat(2, 50%);
  /* si no sabemos cuantos items tendremos, podemos dejar que defina segun cuantos items hay y que los items definan la medida*/
  gap: 5px;
  justify-content: space-around;
  align-content: center;
  padding-left: 15px;
  margin: 0;
}
aside ul li {
  max-width: 95%;
  padding: 5px 0 0 5px;
  box-shadow: 1px 1px 5px rgb(219, 218, 218); /* offset-x, offset-y, blur-radius, color */
  cursor: pointer;
  line-height: 30px;
}
aside ul material-symbols-outlined { /* iconos aside */
  font-size: 1.7rem; /* se usa font-size porque es una fuente de google, no una imagen */
}
aside ul a {
  /* Mixin de flex donde puedes aplicar todos los valores de las variables seleccionades */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: start;
  gap: 0.3125rem;
}

.form-check-input:focus, .form-control:focus { /* Uso de mixin con variable para  el box shadow */
  outline: none; /* Elimina el outline azul que viene por defecto*/
  border: 2px solid var(--highlight-color); /* Cambio de color del borde*/
  box-shadow: 1px 1px 5px rgb(49, 156, 72); /* offset-x, offset-y, blur-radius, color */
  /* Añade el glow alrededor */
}

button:hover, .button:hover, .btn:hover, .btn-primary:hover { /*Transición para hacer el hover más smooth*/
  background-color: var(--main-color); /* color de los botones */
  color: var(--secondary-color);
  border: none;
  text-decoration: none;
  transition: background-color 0.5s ease 0.1s, color 0.5s ease-in-out 0.1s; /* Transición doble, cambio de color de fondo con cambio de color del texto */
}

.profile-image {
  width: 60px;
  border-radius: 50%;
  transition: transform 0.2s ease-in-out; /* Transición de cambio de tamaño al pasar el ratón por encima */
}

.profile-image:hover { /* cuando pones el cursor sobre la imagen se crea un borde */
  outline: 5px solid var(--secondary-color);
  transform: scale(1.1);
  transition: outline 0.3s ease;
}

.material-symbols-outlined { /* iconos header */
  font-size: 2rem; /* se usa font-size porque es una fuente de google, no una imagen */
  transition: transform 0.2s ease-in-out;
}

.material-symbols-outlined:hover {
  color: var(--secondary-color);
  transform: scale(1.2);
  transition: color 0.3s ease;
}

.logo {
  /* Mixin de flex donde puedes aplicar todos los valores de las variables seleccionades */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
}
.logo .mindbox {
  font-size: clamp(2rem, 5vw, 2.5rem);
  font-family: "Funnel Display", sans-serif;
  margin: 0px;
  position: relative;
  overflow: hidden;
  animation: 10s ease 0.1s infinite logo_colors, 5s linear 0.1s 1 slide-in; /* Primera animación para el cambio de color del logo, la segunda para que el logo se desplace, solo se aplica en la página principal */
}
.logo .mindbox:hover {
  text-decoration: none;
  color: #1c1c1c;
}

/*
$colorPrincipalFondo: white;
$colorSecundarioFondo:rgb(244 244 244);
$colorTerciarioFondo:red;*/
/*main{
    @include flex(column, center, center);
}*/
/*
button{
    height: calcRem(20 * 2);

    $primary-color: green;
    color: invert($primary-color, 80%);
}*//*# sourceMappingURL=index.css.map */