@use "sass:math";

@import "variables";
@import "mixins"; 

.panel{ /* Uso de mixin con variable para  el box shadow */
    border: 0.1px rgb(232 232 232) solid;
    box-sizing: border-box;
    border-radius: 20px;
    background-color: var(--main-bg-color);
    /*box-shadow: 1px 1px 5px var(--shadow-color); /* offset-x, offset-y, blur-radius, color */ 
    @include box_shadow_smooth($shadowColorGray);
    justify-content: space-between;
}

aside ul{ /* Uso de mixin con variable para  el box shadow + Nesting para los elementos dentro de Aside */
    list-style-type: none; /* quitamos los puntos de delante de la lista */
    height: 300px;
    display: grid;
    grid-template-columns: repeat(2, 50%);
    /* si no sabemos cuantos items tendremos, podemos dejar que defina segun cuantos items hay y que los items definan la medida*/
    gap:5px;
    justify-content: space-around;
    align-content: center;
    padding-left: 15px;
    margin: 0;

    li{
        
        max-width: 95%;
        padding: 5px 0 0 5px;
        @include box_shadow_smooth($shadowColorGray);
        cursor:pointer; 
        line-height: 30px;
    }

    material-symbols-outlined{ /* iconos aside */
        font-size: 1.7rem; /* se usa font-size porque es una fuente de google, no una imagen */
    }

    a{
        @include flex(column, center, start);
        gap:calcRemGap(20 / 4);
    }
}



.form-check-input:focus, .form-control:focus { /* Uso de mixin con variable para  el box shadow */
  outline: none; /* Elimina el outline azul que viene por defecto*/
  border: 2px solid var(--highlight-color); /* Cambio de color del borde*/
  @include box_shadow_smooth($shadowColorHighlighGreen); /* Añade el glow alrededor */  
}

button:hover, .button:hover, .btn:hover, .btn-primary:hover{ /*Transición para hacer el hover más smooth*/
    background-color: var(--main-color); /* color de los botones */
    color: var(--secondary-color);
    border: none;
    text-decoration: none;
    transition: background-color 0.5s ease 0.1s, 
    color 0.5s ease-in-out 0.1s; /* Transición doble, cambio de color de fondo con cambio de color del texto */
} 

.profile-image{
    width:60px;
    border-radius: 50%;
    transition: transform 0.2s ease-in-out; /* Transición de cambio de tamaño al pasar el ratón por encima */
}

.profile-image:hover{ /* cuando pones el cursor sobre la imagen se crea un borde */
    outline: 5px solid var(--secondary-color);
    transform: scale(1.1);
    transition: outline 0.3s ease;
}

.material-symbols-outlined{ /* iconos header */
    font-size: 2rem; /* se usa font-size porque es una fuente de google, no una imagen */
    transition: transform 0.2s ease-in-out;
 }

.material-symbols-outlined:hover{
    color:var(--secondary-color);
    transform: scale(1.2);
    transition: color 0.3s ease;
}

/*
$colorPrincipalFondo: white;
$colorSecundarioFondo:rgb(244 244 244);
$colorTerciarioFondo:red;*/



/*main{
    @include flex(column, center, center);
}*/
/*
button{
    height: calcRem(20 * 2);

    $primary-color: green;
    color: invert($primary-color, 80%);
}*/
