/*
.panel{
    border: 0.1px rgb(232 232 232) solid;
    box-sizing: border-box;
    border-radius: 20px;
    background-color: var(--main-bg-color);
    box-shadow: 1px 1px 5px var(--shadow-color); /* offset-x, offset-y, blur-radius, color */ 
    /*
    display: flex; /* flex para poder repartir los elementos de la box en toda la altura */
  /*
    justify-content: space-between;
}
*/
/*
.feature-box{
    padding: 20px; /* para que el botón quede dentro de la box */
    /*
    flex: 1 1 calc(50% - 45px); /* Definir que hay dos elementos por linea, dentro del calc tiene que haber un espacio antes y uno después del - */
    /*
    flex-direction: column;
    align-items: start;
    min-height: 100px;
}*/

/*
.box-inspo, .task-form{
    flex: 1 1 calc(50% - 45px); /* Definir que hay dos elementos por linea, dentro del calc tiene que haber un espacio antes y uno después del - */
   /*
    overflow: hidden; /* Esconde la parte que sobra de la imagen como las esquinas */

/*
.task-form{
    padding: 10px;
    align-items: center;
    gap: 10px;
    margin-right: 15px;
}

.inspo-box, .search-form, .form-date{
    
    padding: 30px;
    flex-direction: column;
    height: auto;
    width: 100%;
    gap:20px;

    label{ /* Titulos de las casillas */
        /*
        margin: 0; /* Para quitar el margen predefinido en el parrafo */
    
    /*
    fieldset{
        border: none; /* Quitar el borde del grupo */
    

/*    input::placeholder, textarea::placeholder, input[type="date"]{
        /* para modificar la fuente del placeholder */
        /*
        font-family: Helvetica, sans-serif;
        font-weight: 300;
        color: rgb(71 130 71);
        opacity: 1;
        font-size: 0.7rem;
    }

    input:focus, textarea:focus{ /* para que al seleccionar para escribir el formulario se resalte el borde */
        /*
        border: 1.5px var(--main-color) solid;
        outline: none;
    }


    #inspo-comment{
        height: 100px;
        line-height: 1.5px;
        padding-top: 12px;
    }

    .form-date{
        width: 50px;
        
    }   
}


PER SI ACAS NO FUNCIONA CODI SENSE TOCAR

.feature-box{
    border: 0.1px rgb(232 232 232) solid;
    box-sizing: border-box;
    padding: 20px; /* para que el botón quede dentro de la box */
    /*
    border-radius: 20px;
    background-color: var(--main-bg-color);
    box-shadow: 1px 1px 5px var(--shadow-color) ;  /* offset-x, offset-y, blur-radius, color */
    /*
    flex: 1 1 calc(50% - 45px); /* Definir que hay dos elementos por linea, dentro del calc tiene que haber un espacio antes y uno después del - */
    
    /*display: flex; /* flex para poder repartir los elementos de la box en toda la altura */
    /*
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    min-height: 100px;
}

.box-inspo, .task-form{
    border: 0.1px rgb(232 232 232) solid;
    box-sizing: border-box; 
    display:flex;
    justify-content: space-between;
    border-radius: 20px;
    background-color: var(--main-bg-color);
    box-shadow: 1px 1px 5px var(--shadow-color) ;  /* offset-x, offset-y, blur-radius, color */
    /*
    flex: 1 1 calc(50% - 45px); /* Definir que hay dos elementos por linea, dentro del calc tiene que haber un espacio antes y uno después del - */
    /*
    overflow: hidden; /* Esconde la parte que sobra de la imagen como las esquinas */

/*
.task-form{
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
    margin-right: 15px;
}

.inspo-box, .search-form, .form-date{
    border: 0.1px rgb(232 232 232) solid;
    box-sizing: border-box; 
    border-radius: 20px;
    background-color: var(--main-bg-color);
    box-shadow: 1px 1px 5px var(--shadow-color) ; 
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: auto;
    width: 100%;
    gap:20px;
} */