/* ESTILOS GEN칄RICOS */

:root{
    --main-bg-color:white;
    --second-bg-color:rgb(244 244 244);
    --main-color:#1c1c1c;
    --secondary-color:rgb(177 227 150);
    --highlight-color: rgb(49 156 72);
    --shadow-color:rgb(219 218 218);
    --border-radius-small:8px;
    --border-radius-medium:20px;
    --padding-none:0px;
    --padding-xxs:3px;
    --padding-s:10px;
    --padding-m:20px;
    --padding-l:24px;
    --padding-xxl:32px;
    --gap-xxs:8px;
    --gap-xs:10px;
    --gap-s:12px;
    --gap-m:15px;
    --gap-l:20px;
    --gap-xl:25px;
    --gap-xxl:80px;
}

*{
    box-sizing: border-box;
}

html{
    box-sizing: border-box;
    font-size: 20px;
}

/* CARGAR TIPOGRAFIA PROPIA */

@font-face {
    font-family: "Audiowide"; /* obligatorio */
    src: url("../fonts/Audiowide-Regular.ttf"); /* obligatorio */
    font-weight: normal;
    font-style: normal;
}

img{ /* As칤 totas las imagenes son responsive, suele ser un CSS b치sico en las webs, luego ya se entra en detalles m치s espec칤ficos */
    width:100%;
    height: auto;
    display:block; /* as칤 tienes todo unido y puedes definir al 100% los pixeles de separaci칩n com el margin-bottom, sin칩 te deja unos pixeles de margen que no controlas */
}

body{
    font-family: "Funnel Display", sans-serif; /* Tipografia de google fonts */
    margin:0;
    padding:var(--padding-none);
    background-color: var(--second-bg-color); /* Color de fondo general aqu칤 para mantener header y footer con fondo blanco */
}

h1,h2,h3{
    color: var(--main-color);
}

h1{
    font-family: "Audiowide";
    font-size: clamp(1.5rem, 5vw, 1.8rem); /* Tama침o de letra responsive, tama침o m칤nimo: 3rem; tama침o ideal 5% del ancho de la ventana; tama침o m치ximo: 3.5rem */
    font-weight: 600; /* Queda definido pero la tipografia que uso no es variable */
    margin: 0 0 30px 0;
}

h2{
    font-size: clamp(1.25rem, 5vw, 1.5rem);
    font-weight: 500;
    margin: 0 0 25px;
}

h3{
    font-size: clamp(1rem, 5vw, 1.25rem);
    font-weight: 400;
    margin: 0 0 20px 0;
}

p{
    font-size: clamp(0.75rem, 5vw, 1rem);
}


a{
    color: var(--main-color); /* links de color negro */
    text-decoration: none;
}

a:hover{
    text-decoration: underline; /* se subratlla el link cuando pasas por encima con el mouse */
    color:var(--secondary-color);
}

a.selected{
    color: var(--highlight-color); /* poner una class=selected entonces te queda marcado el nav de arriba en que p치gina est치s */
    font-family: helvetica, sans-serif;
    font-weight:600;
}

footer{
    background-color: white; /* color de fondo del footer */
    padding: var(--padding-l); /* espacio superior y inferior del footer */
    text-align: center;

}

button, .button, .btn{ /* links anidados dentro de la classe features, btn llama al button de bootstrap */
    font-family:Helvetica, sans-serif;
    background-color: var(--secondary-color); /* color de los botones */
    border-radius: 20px; /* redondeo de las esquinas de los botones */
    padding: 10px 20px;
    font-weight: 200;
    border:none;
    color: var(--main-color);
}

.button:visited, .button:visited, .btn:visited, .btn-primary:visited{ /* Enlace visitado, hay links falsos para que algunos enlaces parezcan no visitados */
    background-color: rgb(225 225 225);
    color: var(--highlight-color);
}

button:active, .button:active, .btn:active{
    color:white;
    background-color: var(--highlight-color) !important; /* Se a침ade !important porque es la 칰nica manera que he encontrado para sobreescrivir el bootstrap */
}


/* LOGO */

#logo-imatge{ /* ponemos # porqu칠 es un ID y no una class, al ser m치s especifico que .img aplica este estilo al logo */
    width:200px;
}

/* USER PROFILE */

/* Cambios aplicados en en alxivo index.scss */
/* HEADER */

header{
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 40px;
    background-color: var(--main-bg-color);
    font-size:0.9rem;

    .logo{
        flex: 1;
    }

    .main-menu{
        display:flex;
        margin:0;
        padding: var(--padding-none);
        list-style:none;  /* elimina los puntos de la lista */
        flex: 3;
        gap:var(--gap-xl);
        
    }

    .user-menu{
        display:flex;
        align-items: center;
        flex: 1;
        justify-content:flex-end;
        margin-right: 20px;
        gap:var(--gap-m);

        span{
           cursor:pointer; 
        }
    }

    .icon-menu{
        display:flex;
        gap:var(--gap-m);
        color: var(--main-color);
    }

   /* .material-symbols-outlined{ /* iconos header */
        /*font-size: 2rem; /* se usa font-size porque es una fuente de google, no una imagen */
    

    /*.material-symbols-outlined:hover{
        color:var(--secondary-color);
    }*/


}

/* ESTILOS PARA DASHBOARD */

.featured{ /* Delante del punto podemos poner 'section' que es el tag */
    padding:var(--padding-xxl);
    margin-bottom: 30px; 
}



.featured-boxes{
    display: flex;
    flex-wrap:wrap; /* permite que los elementos se pongan en m치s de una fila */
    gap: var(--gap-xxl);
    align-items: stretch;
    margin: auto 20px;

}

/* ESTILOS PARA INSPIRACIONES */

.inspiration{ /* Delante del punto podemos poner 'section' que es el tag */
    padding: var(--padding-xxl);
    margin-bottom: 30px; 
}

.content-inspo{
    display: flex;
    flex-wrap:wrap; /* permite que los elementos se pongan en m치s de una fila */
    gap: var(--padding-xxl);
    align-items: center;
    margin: auto 20px;
}

/*.box-inspo,*/ .task-form{
    flex: 1 1 calc(50% - 45px); /* Definir que hay dos elementos por linea, dentro del calc tiene que haber un espacio antes y uno despu칠s del - */
    overflow: hidden; /* Esconde la parte que sobra de la imagen como las esquinas */
}

.inspo-image{
   height: 50%;
   max-height: 450px ;
   aspect-ratio: 16/9;
   width: 100%;
   object-fit: cover; /* La imagen no se defomra y rellena todo el espacio definido */
   display: block;

}

.inspo-text{
    display: flex; /* flex para poder repartir los elementos de la box en toda la altura */
    flex-direction: column;
    justify-content: flex-end;
    padding: var(--padding-m);
    min-height: 200px; /* Altura definida para poder dejar el texto centrado en altura */
}

/* INSPIRACI칍N */

.inspiration-page{
    padding:var(--padding-xxl); /* para que no este tocando con los laterales */
    margin-bottom: 30px;  /* para que hay m치s espacio con la secci칩n inferior */
}

.inspo-box, .search-form, .form-date{
    padding: var(--padding-xxl);
    display: flex; /* flex para poder repartir los elementos de la box en toda la altura */
    flex-direction: column;
    height: auto;
    width: 100%;
    gap: var(--gap-l);
    
    label{ /* Titulos de las casillas */
        margin: 0; /* Para quitar el margen predefinido en el parrafo */
    } 

    fieldset{
        border: none; /* Quitar el borde del grupo */
    }

    input::placeholder, textarea::placeholder, input[type="date"]{
        /* para modificar la fuente del placeholder */
        font-family: Helvetica, sans-serif;
        font-weight: 300;
        color: rgb(71 130 71);
        opacity: 1;
        font-size: 0.7rem;
    }

    input:focus, textarea:focus{ /* para que al seleccionar para escribir el formulario se resalte el borde */
        border: 1.5px var(--main-color) solid;
        outline: none;
    }


    #inspo-comment{
        height: 100px;
        line-height: 1.5px;
        padding-top: var(--padding-s);
    }

    .form-date{
        width: 50px;
        
    }   
}

.inspo-form, #textInput, .form-control{ /* casillas dle formulario */
    width: 100%;
    font-size: 0.8rem;
    padding: var(--padding-xxs);
    border-radius: var(--border-radius-small);
    border: 1px  var(--secondary-color) solid;
    background-color: var(--second-bg-color); 
}

/* ASIDE GRID */

header{
    grid-area: encabezado;
}

main{
    grid-area: cuerpo;
}

aside{
    grid-area: menu-lateral;
}

footer{
    grid-area: pie-pagina;
}


/* ASIDE ESTILOS */

aside ul li:first-child{
    border: 2px dotted var(--main-color);
}

aside ul li:last-child{
    border:2px inset var(--secondary-color);
}

aside ul li:nth-child(4){ /* posici칩 de l'element que volem modificat */
    border: 2px dashed var(--main-color);
}

aside ul li{ /* seleccionar todos los aside menos al que tiene el id item) */
    background-color: var(--highlight-color);
    border-radius: var(--border-radius-medium);
} 


aside ul li:not(#item){ /* seleccionar todos los aside menos al que tiene el id item) */
    background-color: white;
    border-radius: var(--border-radius-medium);
} 

/* PROBAMOS BOOTSTRAP */

.col{ /* Para. ver los l칤mites de las columnas del grid */
    margin: 5px; /* CSS Normal */
}

/* CARDS BOOTSTRAP*/
.card-img-top{
    height: 300px;
    width: 100%;
    object-fit: cover; /* cortar치 la imagen pero rellenar치 todo el espacio */
}

.card-img-task{
    border-bottom: 1px rgb(190 190 190) solid;
}

.card-quote{
    display: flex;
    flex-direction: column;
    align-content: space-around ;
    h2{
        text-decoration: underline var(--highlight-color);
    }
}

.card-body{
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    padding:var(--padding-m);
}

.card-link{
    max-width: 200px;
}

/* FORMULARIO NOTAS */

#fieldsetCheck { 
  border: 1px var(--secondary-color) solid;
}

#textInput:focus{ /*no va */
   outline: 1.5px var(--main-color) solid;
}

.search-form{
    margin: 0;
}

.search-button {
  padding-bottom: var(--padding-none);
  margin-top: 30px;
}

.form-check-label {
  margin-top: 40px;
}

.form-check-input {
  margin-top: 43px;
}

#fieldsetCheck:checked{ /* color de la checkbox una vez seleccionada */
    background-color: var(--highlight-color);
}

#fieldsetCheck:disabled{
    background-color: lightgray; /* hace falta agregar el atribut disabled en HTML para visualizar este estado*/
}


/* PSEUDO ELEMENTOS - NOTAS */

.card-link::before{
    content: "游꺚 ";
}

.card-link::after{
    content: "! 游뗶";
}

.card-text::first-letter{
    font-size: 1.5rem;
}

.card-text-quote::first-letter{
    font-size:2rem;
}

.card-text::first-line{
    color:grey;
}

::selection{ /* cuando seleccionas un texto con el rat칩n, al no tener tag afecta a todos los textos de la p치gina*/
    color:var(--main-color);
    background-color: var(--secondary-color);
}

.card-text::selection{
    color: rgb(65 65 65);
    background-color: var(--secondary-color);
}

/* TAREAS */

.task-form{
    padding: var(--padding-s);
    display: flex; /* flex para poder repartir los elementos de la box en toda la altura */
    align-items: center;
    gap: var(--gap-xs);
    margin-right: 15px;
}

#dateTask{
    margin-bottom: 25px;
}

.form-control{ /* Cambio del color de fondo porque sino es muy aprecido al bot칩n, sobreescribo el general que est m치s arriba */
    background-color: rgb(244 255 235);
}

.inspo-form:focus{
 outline: 1.5px var(--main-color) solid;
}

.last-tasks{
    margin-top: 30px;
}

#startDate, #endDate{
    width: 30%;
}

.form-dates{
    display: flex;
    width: 45%;
    gap: 5px;
    justify-content: space-around;
}

.uploaded-task-1{
    grid-area: task1;
}

.uploaded-task-2{
    grid-area: task2;
}

.uploaded-task-3{
    grid-area: task3;
}

.uploaded-task-4{
    grid-area: task4;
}

.uploaded-task-5{
    grid-area: task5;
}

.uploaded-task-6{
    grid-area: task6;
}

.grid-container-tasks{
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* N칰mero de columnas, 4, con el ancho, 1 fracci칩n (sobre 4) del espacio disponible por columna */
    grid-template-rows: repeat(2, auto); /* Numero de filas */
    column-gap: var(--gap-s);
    row-gap: var(--gap-m);
    margin-right: 15px;
    grid-template-areas:
    "task1 task1 task2 task3" 
    "task4 task5 task6 task6";
    /* fila1col1, fila1col2 fila1col3 fila1col4 */
    /* fila2col1, fila2col2 fila2col3 fila2col4 */
}

.task-card{
    height: 650px;
}


.btn-task{
    max-width: 300px;
}

.btn-task::before{ /* PSEUDO ELEMENTO - TAREAS */
    content: "游닄 ";
}

.btn-task::after{ /* PSEUDO ELEMENTO - TAREAS */
    content: " 游뱁";
}
